


header{
	text-align:center;
	color:lightblue;
	background-color:gray ;
	border:black solid 5px;
	border-radius:5px;
	border: 1px solid;
	padding: 200px;
	padding-right:200px;
	box-shadow: 50px 50px;
  animation-name: myAnimation;






