
header{
	text-align:center;
	color:lightblue;
	background-color:gray ;
	border:black solid 5px;
	border-radius:5px;
	border: 1px solid;
	padding: 200px;
	padding-right:200px;
	box-shadow: 50px 50px;
  animation-name: myAnimation;
  animation-duration: 4s;
}
}
l
h2{
	justify-content:space-evenly;
}

	
}
h1{
text-shadow: 2px 2px;
	
}
center {
  margin: auto;
  width: 50%;
  border: 3px solid #73AD21;
  padding: 10px;
}

p {
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

h2, p {
  margin: 10px;
}

li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

 li {
  float: left;
  border-right:1px solid #bbbbbb;
}

 li:last-child {
  border-right: none;
}

 li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

 li a:hover:not(.active) {
  background-color: #111111;

 
li {
 display: flex;
  background-color: DodgerBlue;
}
li {
  background-color: #f1f1f1;
  margin: 10px;
  padding: 20px;
  font-size: 24px;

}

container{
	display: flex;
	background-color:lightblue;
}
container div{
	background-color:f1f1f1;
	margin:10px;
	padding:20;
	font-size:24;
}

.container {
  position: relative;
  width: 50%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

container:hover .overlay {
  opacity: 1;
}

text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

h2{
	color:white;
	text-shadow:1px 1px 2pz black, 0 0 25px blue, 0 0 5px darkblue;
}
	 
div{
	width:100px;
	height:100px;
	background-color:red;
	animation-name:myAnimation;
	animation-duration:4px;
	
}

	myAnimation{
		from {background-color:red}
	    to{background-color: yellow}
	}
container {
  width: 100px;
  height: 100px;
  background-color: red;
  position: relative;
  animation-name: myAnimation;
  animation-duration: 4s;
  animation-delay: 2s;
}

container {
  display: flex;
  flex-direction: row;
  background-color: DodgerBlue;
}

container div {
  background-color: #f1f1f1;
  width: 100px;
  margin: 10px;
  padding: 10px;
  text-align: center;  
  font-size: 30px;
}

*{
	margin:0;
	padding:0;
	
	
}

.main{
	width:100;
	background:linear-gradient(to top, rgba(0,0,0,0.5)50%rgba,(0,0,0,0.5)50%), url(1.jpg);
	background-position:center;
	background-site:cover;
	height:109vh;
}

.navbar{
	width:1200px;
	height:75px;
	margin:auto;
	
}
.icon{
width:200px;
floath:left;
height:70px;
}

.logo{
color:#ff720;
font-size:35px;
font-family:Arial;
padding-left:20px;
float:left;
padding-top:10px;
}

{
{

index.html

main.css

box-sizing: border-box;

padding: 0;

4

margin: 0;

5

}

6

7

body {

8

background: rgb(27, 27, 27);

9

}

18

11

.container {

12

display: flex;

13

14

}

15

16

justify-content: center;

.card {

17

background: white;

18

width: 270px;

19

height: 400px;

20

margin: 10px;

}
